body {
  overflow-y: scroll;
}

.ss-navbar {
  position: fixed;
  width: 100%;
}

.ss-brand {
  font-size: 2rem;
}

.ss-auth {
  color: #fff !important;
  opacity: .9;
  &:hover {
    opacity: 1;
  }
}

.ss-tm-baner {
  display: block;
  margin: 0 auto;
  padding: 0 10px;
}

.ss-theme-book {
  height: 100vh;
  min-height: 680px;
  background: $ss-theme-background url(/img/swap6.jpg) 50% 50% no-repeat;
  background-size: cover;
  margin-top: -80px;
}

.ss-theme-button {
  margin-left: 67px;
  margin-bottom: 80px;

  @media (min-height: 800px) {
    margin-bottom: 120px;
    margin-left: 87px;
  }
}

.ss-section-first {
  background: url(/img/background.svg) 50% 10% no-repeat, linear-gradient(to left top, #28a5f5, #1e87f0) 0 0 no-repeat
}

.ss-section-second {
  color: #fff !important;
  background: $ss-theme-background;
}

.ss-section-footer {
  background: #222 !important;
}

.ss-preview-icon {
  margin-bottom: -20px;
}

.ss-button-primary {
  background: #fff !important;
  color: #1e87f0 !important;

  &:hover {
    box-shadow: 0 10px 40px #1e87f0
  }
}

[uk-spinner] {
  color: $ss-theme-background;
}

.ss-hovered {
  cursor: pointer;
}