//@import "~normalize.css";
@import '~bootstrap/scss/bootstrap';

[v-cloak] {
  display: none;
}

.int-img {
  background: #fff url(/img/blur.jpg) center no-repeat;
  background-size: contain;
  width: 320px;
  height: 240px;

  & img {
    width: 320px;
    height: 240px;
  }
}

html {
  overflow-y: scroll;
}

.crutch-link {
  color: #1b1e21;
  text-decoration: none;

  &:hover,
  &:focus,
  &:visited,
  &:active {
    text-decoration: inherit;
    color: lighten(#1b1e21, 30%);
  }
}
